html {
    font-size: 62.5%;
    background-color: #111111;
    margin-bottom: 7rem;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    /* width: 144rem; */
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

li,
a {
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 12px;
    color: #EDF0F1;
    text-decoration: none;
}

#work {
    width: 100%;
}

.works_sec {
    position: relative;
    display: flex;
    flex-direction: row;
}

.side_vertical_tab_group {
    /* position: fixed;
    right: 100px;
    top: 18%;
    justify-content: right;
    border: solid 0.1rem #212121;
    border-radius: 2rem;
    box-sizing: border-box; */

    position: fixed;
    right: -35px;
    /* top: 16%; */
    top: 20%;
    background-color: #212121;
    padding: 1rem 2rem 1rem 1rem;
    border: solid 0.1rem #212121;
    border-radius: 2rem;
    box-sizing: border-box;

}

.tab_item_group {
    /* height: auto;
    padding: 1rem;
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: mixed; */

    height: auto;
    padding: 1rem;
    width: 10%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.works-E4f {
    width: 100%;
    /* height: 435.1rem; */
    overflow: hidden;
    position: relative;
    background-color: #111111;
}

.auto-group-fhhr-FEf {
    margin: 0rem 0.05rem 4rem 0rem;
    width: calc(100% - 0.05rem);
    height: 415.9rem;
}

.frame-63-VoD {
    box-sizing: border-box;
    padding: 4rem 14.525rem 0rem 14.525rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navi-yiP {
    margin: 0rem 21.825rem 7rem 21.825rem;
    /* width: calc(100% - 43.65rem); */
    height: 5.5rem;
    overflow: hidden;
    /* position: relative; */
    position: fixed;
    flex-shrink: 0;
    z-index: 9999;
}

.frame-22-6Y7 {
    box-sizing: border-box;
    padding: 1.6rem 2rem 1.5rem 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #222222;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(17, 17, 17, 0.8000000119);
    border-radius: 2rem;
}

.pandiraja-pj1 {
    margin-right: 38rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-20-S87 {
    margin: 0.2rem 0rem 0.3rem 0rem;
    height: calc(100% - 0.5rem);
    display: flex;
    column-gap: 3rem;
    align-items: center;
    flex-shrink: 0;
}

.home-9oD {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #e0e0e0;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.works-GN3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #b3b3b3;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.about-o75 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #b3b3b3;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

/* Active Nav */

/* .frame-20-S87 li:hover a {
    color: #ffffff; 
}

.frame-20-S87 li a.active {
    color: #ffffff; 
    font-weight: 700; 
} */

/* Style for when the item is hovered */
.frame-20-S87 li:hover a {
    color: #ffffff;
}

/* Style for when the item is active (clicked) */
/* .frame-20-S87 li a.active,
.frame-20-S87 li a.active:hover {
    color: #ffffff; 
} */

.frame-20-S87 li a.active,
.frame-20-S87 li a.active:hover {
    color: #ffffff;
    /* Change text color */

    /* Add additional styling as needed */
}

/* End Active Nav */

.frame-25-sMq {
    /* margin-bottom: 7rem; */
    margin-top: 12rem;
    /* width: 100%; */
    height: 62.5rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    padding: 80px 3% 0;
}

.frame-30-pH5 {
    box-sizing: border-box;
    padding: 5rem 4.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.frame-23-xeB {
    margin: 9.05rem 18.7rem 21.25rem 0rem;
    height: calc(100% - 30.3rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.hey-there-FtB {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.im-rajan-ui-motiondesigner-PjV {
    max-width: 40.3rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.1400000254;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    flex-shrink: 0;
}

.im-rajan-ui-motiondesigner-PjV-sub-0 {
    font-size: 10.8rem;
    font-weight: 700;
    line-height: 1.14;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
}

.im-rajan-ui-motiondesigner-PjV-sub-1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.14;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
}

.im-rajan-ui-motiondesigner-PjV-sub-2 {
    font-size: 3.4rem;
    font-weight: 100;
    line-height: 1.14;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
}

.frame-30-pH5 .group-13-sgb {
    width: 47.55rem;
    height: 100%;
    position: relative;
    border-radius: 2rem;
    flex-shrink: 0;
}

.img20220716205556-2-DkT {
    width: 42.4rem;
    height: 48.4rem;
    position: absolute;
    left: 0;
    top: 4.1rem;
    border: solid 0.1rem #222222;
    box-sizing: border-box;
    border-radius: 2rem;
}

.auto-group-tbio-8Md {
    width: 42.4rem;
    height: 48.4rem;
    position: absolute;
    left: 5.15rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
}

.frame-13-cXh {
    margin: 12rem 1.6rem 15rem 0rem;
    width: 112.4rem;
    flex-shrink: 0;
}

.frame-29-LTh {
    margin: 0rem 96.7rem 4.9rem 0rem;
    width: calc(100% - 96.7rem);
    display: flex;
    align-items: center;
}

.ellipse-7-4uV {
    margin: 0rem 1rem 0.1rem 0rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #00ff23;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.selected-works-PRy {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-34-KqR {
    margin-left: 7.3rem;
    width: 110.8rem;
    row-gap: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frame-13-4Y7 {
    width: 100%;
    height: 39.1rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.frame-26-1iF {
    margin-right: 3rem;
    box-sizing: border-box;
    padding: 1.8rem 1.8rem 3.1rem 1.8rem;
    width: 52.1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: solid 0.1rem #222222;
    border-radius: 2rem;
    flex-shrink: 0;
}

.frame-27-YCP {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rectangle-93-t1M {
    margin-bottom: 3rem;
    width: 100%;
    height: 27.3rem;
    background-color: #212121;
    border-radius: 20px;
    flex-shrink: 0;
}

.mask-group-a3R {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* Ensure that the image doesn't overflow the frame */
}

.image-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Add smooth transition */
}

.mask-group-a3R:hover .image-wrapper {
    transform: scale(1.05);
    /* Zoom in on hover */
}

.auto-group-snvv-XUT {
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    object-fit: contain;
}

.ui-animations-C23 {
    cursor: pointer;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-27-sts {
    box-sizing: border-box;
    padding: 3.2rem 7.9rem 3.2rem 5rem;
    height: 38.8rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    flex-shrink: 0;
}

.these-ui-animations-were-meticulously-crafted-seamlessly-blending-aesthetics-with-functionality-to-enhance-user-experience-delivering-fluid-transitions-and-intuitive-interactions-for-an-engaging-interface-bps {
    max-width: 42.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
}

.frame-26-Rou {
    width: 100%;
    height: 39.1rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.frame-27-PEw {
    margin-right: 3rem;
    box-sizing: border-box;
    padding: 3.2rem 5.3rem 3.2rem 6rem;
    height: 38.8rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    flex-shrink: 0;
}

.these-designs-cater-to-diverse-digital-needs-spanning-website-layouts-attention-grabbing-banners-and-captivating-blog-covers-each-element-ensures-brand-representation-and-a-compelling-online-presence-uj5 {
    max-width: 44.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
}

.frame-26-N6s {
    box-sizing: border-box;
    padding: 1.8rem 1.8rem 3.1rem 1.8rem;
    width: 52.1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: solid 0.1rem #222222;
    border-radius: 2rem;
    flex-shrink: 0;
}

.frame-27-hQ3 {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rectangle-93-rnj {
    margin-bottom: 3rem;
    width: 100%;
    height: 27.3rem;
    background-color: #212121;
    border-radius: 2rem;
    flex-shrink: 0;
}

.ui-designs-ohy {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-30-6BH {
    width: 100%;
    height: 39rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.frame-26-eTh {
    margin-right: 3rem;
    box-sizing: border-box;
    padding: 1.8rem 1.8rem 3rem 1.8rem;
    width: 52.1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: solid 0.1rem #222222;
    border-radius: 2rem;
    flex-shrink: 0;
}

.frame-27-n47 {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rectangle-93-wBu {
    margin-bottom: 3rem;
    width: 100%;
    height: 27.3rem;
    background-color: #212121;
    border-radius: 2rem;
    flex-shrink: 0;
}

.marketing-videos-t79 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-27-bGT {
    box-sizing: border-box;
    padding: 3.2rem 7.9rem 3.2rem 5rem;
    height: 38.8rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    flex-shrink: 0;
}

.these-ui-animations-were-meticulously-crafted-seamlessly-blending-aesthetics-with-functionality-to-enhance-user-experience-delivering-fluid-transitions-and-intuitive-interactions-for-an-engaging-interface-jNf {
    max-width: 42.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
}

.frame-35-NgX {
    margin: 0rem 37.125rem 0rem 37.125rem;
    width: calc(100% - 74.25rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.auto-group-iaoh-ghD {
    box-sizing: border-box;
    padding: 0rem 3.55rem 5.9rem 3.55rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.frame-31-cas {
    margin-bottom: 4rem;
    box-sizing: border-box;
    padding-bottom: 1.9rem;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ai-security-camera-app-MYT {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c5bebe;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.ui-animations-Vef {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-31-RYK {
    margin: 0 4.95rem;
    width: calc(100% - 9.9rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.website-banner-blog-cover-other-yJw {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c5bebe;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.designs-PNf {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-31-6ns {
    margin-bottom: 5.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ads-product-video-post-etc-eZV {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c5bebe;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.marketing-videos-y5y {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-31-uVR {
    margin: 0 2.4rem;
    width: calc(100% - 4.8rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.intro-animations-3d-vfx-4NK {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c5bebe;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.random-works-bd9 {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-47-wS7 {
    margin: 13.9rem 19.875rem 0rem 19.875rem;
    /* width: calc(100% - 39.75rem); */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.frame-58-g9D {
    margin: 0rem 9.7rem 9rem 9.8rem;
    width: calc(100% - 19.5rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.group-14-zvb {
    margin: 0rem 68.7rem 2.9rem 0rem;
    width: calc(100% - 68.7rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.ellipse-7-v3Z {
    margin: 0rem 1rem 0.2rem 0rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #00ff23;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.tools-dTm {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-40-NRM {
    width: 75.2rem;
    height: 11.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.group-14-sKm {
    margin: 0rem 63.6rem 2.9rem 0rem;
    width: calc(100% - 63.6rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.ellipse-7-1Ry {
    margin: 0rem 1rem 0.2rem 0rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #00ff23;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.experience-voq {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-40-fWX {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.frame-37-cwZ {
    box-sizing: border-box;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    /* border: solid 0.1rem #222222; */
    flex-shrink: 0;
    border-top-color: rgb(34, 34, 34);
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.avairsense-yXD {
    margin-right: 55.8rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.14;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item-2022-2023-K5H {
    margin-bottom: 0.4rem;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-38-pGw {
    box-sizing: border-box;
    padding: 2rem 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* border: solid 0.1rem #222222; */
    border-top-color: rgb(34, 34, 34);
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    flex-shrink: 0;
}

.kissflow-y9q {
    margin-right: 58.4rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.14;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item-2021-2022-Jhu {
    text-align: right;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-39-pw9 {
    box-sizing: border-box;
    padding: 2rem 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* border: solid 0.1rem #222222; */
    border-top-color: rgb(34, 34, 34);
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    flex-shrink: 0;
}

.frame-39-pw9 .d-crafts-z4w {
    margin-right: 58.8rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.14;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item-2020-2021-vjH {
    text-align: right;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

/* .works-E4f .auto-group-fhhr-FEf .frame-63-VoD .frame-51-e9V {
    margin: 0rem 10.075rem 10rem 10.175rem;
    box-sizing: border-box;
    padding: 8rem 10rem 8rem 3.6rem;
    height: 25.6rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #222222;
    border-radius: 2rem;
    flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .frame-51-e9V .frame-49-9M9 {
    margin-right: 27.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .frame-51-e9V .frame-49-9M9 .lets-create-together-61V {
    margin-bottom: 1.5rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .frame-51-e9V .frame-49-9M9 .reach-out-for-designs-that-bring-your-ideas-to-life-RZZ {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .frame-51-e9V .frame-48-jaF {
    margin: 1.8rem 0;
    width: 9.4rem;
    height: calc(100% - 3.6rem);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    color: #222222;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
} */

.frame-51-kVm {
    margin: 0rem 0rem 10rem 0.1rem;
    box-sizing: border-box;
    padding: 4rem 5.05rem 3.9rem 5.05rem;
    height: 17.2rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #222222;
    border-radius: 2rem;
    flex-shrink: 0;
}

.frame-49-TQB {
    margin-right: 30.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.to-know-more-oiw {
    margin-bottom: 0.9rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Domine, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-49-TQB .my-expertise-includes-crafting-intuitive-interfaces-dynamic-motion-graphics-and-staying-abreast-of-emerging-design-trends-vYf {
    max-width: 41.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
}

.frame-48-cAb {
    margin: 1.6rem 0rem 1.7rem 0rem;
    width: 12.5rem;
    height: calc(100% - 3.3rem);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    color: #222222;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}


.frame-55-yzP {
    margin-right: 46.8rem;
    width: 48rem;
    flex-shrink: 0;
}

.pandiraja-thennavan-jCs {
    margin-bottom: 2.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
}

.frame-60-4W3 {
    margin-bottom: 2.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.frame-59-1w5 {
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.feel-free-to-contact--m9Z {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-61-Hdh {
    margin-right: 1.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.mail-fill-FKd {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.pandiraj2711gmailcom-BUB {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--WFZ {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-62-r4X {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.smartphone-line-Qrj {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.item-91-979-096-3560-k9u {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1725;
    letter-spacing: 0.12rem;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.frame-54-3Pu {
    display: flex;
    column-gap: 1.8rem;
    align-items: center;
    flex-shrink: 0;
}

.linkedin-fill-C1u {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.whatsapp-fill-KsD {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.instagram-fill-FVy {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.frame-57-BuR {
    margin-right: 29.5667rem;
    box-sizing: border-box;
    padding-right: 1.6rem;
    width: calc(100% - 29.5667rem);
    display: flex;
    align-items: flex-end;
}

.designed-by-me-with-figma-XCb {
    margin-right: 0.6rem;
    max-width: 15.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
}

.designed-by-me-with-figma-XCb-sub-0 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
}

/* .works-E4f .auto-group-fhhr-FEf .frame-63-VoD .frame-55-yzP .frame-57-BuR .designed-by-me-with-figma-XCb .designed-by-me-with-figma-XCb-sub-1 {
} */
.designed-by-me-with-figma-XCb-sub-2 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: #777777;
    font-family: Roboto, 'Source Sans Pro';
}

.frame-58-yD1 {
    margin-bottom: 0.6rem;
    width: 0.7333rem;
    height: 1.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

/* Photo Hover Effect */

.photo {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    display: block;
}

.photo img {

    object-fit: cover;
    /* filter: grayscale(100%) contrast(120%); */
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.photo:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
}

.photo .glow-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
}

.photo .glow {
    display: block;
    position: absolute;
    width: 40%;
    height: 200%;
    background: rgba(255, 255, 255, .2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
    margin-top: 0;
}

h1 {
    position: absolute;
    z-index: 1;
    transform: translate(-25%, -65%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.2;
}