html {
  font-size: 62.5%;
  background-color: #111111;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  /* width: 144rem; */
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


li,
a {
  font-weight: 500;
  /* font-size: 16px; */
  font-size: 12px;
  color: #EDF0F1;
  text-decoration: none;
}

.works-E4f {
  width: 100%;
  /* height: 405.1rem; */
  overflow: hidden;
  position: relative;
  background-color: #111111;
}

.works-E4f .auto-group-fhhr-FEf {
  margin: 0rem 0.05rem 4rem 0rem;
  width: calc(100% - 0.05rem);
  /* height: 401.1rem; */
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD {
  box-sizing: border-box;
  padding: 4rem 14.525rem 0rem 14.525rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP {
  margin: 0rem 21.825rem 7rem 21.825rem;
  /* width: calc(100% - 43.65rem); */
  height: 5.5rem;
  overflow: hidden;
  /* position: relative; */
  position: fixed;
  flex-shrink: 0;
  z-index: 9999;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP .frame-22-6Y7 {
  box-sizing: border-box;
  padding: 1.6rem 2rem 1.5rem 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #222222;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(17, 17, 17, 0.8000000119);
  border-radius: 2rem;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP .frame-22-6Y7 .pandiraja-pj1 {
  margin-right: 38rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP .frame-22-6Y7 .frame-20-S87 {
  margin: 0.2rem 0rem 0.3rem 0rem;
  height: calc(100% - 0.5rem);
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP .frame-22-6Y7 .frame-20-S87 .home-9oD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #e0e0e0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP .frame-22-6Y7 .frame-20-S87 .works-GN3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #b3b3b3;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.works-E4f .auto-group-fhhr-FEf .frame-63-VoD .navi-yiP .frame-22-6Y7 .frame-20-S87 .about-o75 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #b3b3b3;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

/*  */
.works-fao {
  width: 100%;
  height: 400.5rem;
  position: relative;
  overflow: hidden;
  background-color: #111111;
}

.works-fao .frame-97-vf9 {
  box-sizing: border-box;
  padding: 4rem 17.5rem 0rem 17.5rem;
  /* width: 144rem; */
  width: 100%;
  height: 545.512rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.side_vertical_tab_group {
  position: fixed;
  right: -35px;
  /* top: 16%; */
  top: 20%;
  background-color: #212121;
  padding: 1rem 2rem 1rem 1rem;
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  box-sizing: border-box;

}

.tab_item_group {
  height: auto;
  padding: 1rem;
  width: 10%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}


.frame-95-TH1 {
  margin: 0rem 45.15rem 9rem 45.15rem;
  width: calc(100% - 90.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.website-banner-blog-cover-other-Byh {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c5bebe;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  padding: 80px 3% 0;
}

.ui-designs-KKD {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Domine, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}



.frame-106-dqh {
  margin-bottom: 8.1rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.frame-29-yuZ {
  margin: 0rem 83.5rem 7.9rem 0rem;
  width: calc(100% - 83.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.ellipse-7-icF {
  margin: 0rem 1rem 0.1rem 0rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #00ff23;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.home-page-full-version-S2T {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-810-Zcs {
  margin-left: 7.3rem;
  width: 99.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.frame-844-J4f {
  margin-bottom: 8.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.frame-64-SwZ {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
  overflow: hidden;

}

.frame-64-SwZ .group-19-zCP {
  margin-bottom: 3rem;
  width: 100%;
  height: 53.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('../../assets/images/png/mask-group-EE3.png'); */
  background-image: url('../../assets/images/png/avairSense_website_v1.png');
  flex-shrink: 0;
}

.avairsense-website-version-1-7H1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Domine, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-64-R2o {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  height: 61.9rem;
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.group-19-mMZ {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 53.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100.png');

}

.mask-group-7wD {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/auto-group-c8sj.png');
  
}

.frame-845-q6X {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.frame-64-bLb {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.group-19-vNs {
  margin-bottom: 3rem;
  width: 100%;
  height: 53.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('../../assets/images/png/mask-group-Ea3.png'); */
  background-image: url('../../assets/images/png/avairSense_website_v2.png');
  flex-shrink: 0;
}

.avairsense-website-version-2-3iP {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Domine, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-64-LBh {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  height: 61.9rem;
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.group-19-tDD {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 53.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100.png');
}

.mask-group-367 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/auto-group-pq7r.png');
}


.auto-group-ijom-wBV {
  height: 197.4rem;
  position: relative;
  flex-shrink: 0;
}

.frame-107-gum {
  width: 106.7rem;
  height: 181.9rem;

}

.frame-29-dKD {
  margin: 0rem 86.5rem 3.9rem 0rem;
  width: calc(100% - 86.5rem);
  display: flex;
  align-items: center;
}

.ellipse-7-AK9 {
  margin: 0rem 1rem 0.1rem 0rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #00ff23;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.some-random-ideas-5BD {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.auto-group-m45m-1Km {
  margin-left: 7.3rem;
  width: 99.4rem;
  height: 175.6rem;
  position: relative;
}

.frame-808-joV {
  width: 99.4rem;
  height: 175.6rem;
  position: absolute;
  left: 0;
  top: 0;
}

.frame-103-gij {
  width: 99.4rem;
  height: 37.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

/* .frame-64-dP5 {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-a3R {
  width: 100%;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100.png');
}
.mask-group-a3R:hover .auto-group-snvv-XUT {
  transform: scale(1.05);
}
.auto-group-snvv-XUT {
  width: 43.7rem;
  height: 24.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
} */

.frame-64-dP5 {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  border: solid 0.1rem #212121;
  border-radius: 20px;
  flex-shrink: 0;
  overflow: hidden;
  /* Ensure that the image doesn't overflow the frame */
}

.mask-group-a3R {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* Ensure that the image doesn't overflow the frame */
}

.image-wrapper {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  /* Add smooth transition */
}

.mask-group-a3R:hover .image-wrapper {
  transform: scale(1.05);
  /* Zoom in on hover */
}

.auto-group-snvv-XUT {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}


.frame-65-Etf {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-oB5 {
  /* margin-bottom: 7.9rem; */
  width: 100%;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-58j.png');
}

.auto-group-phfd-9kj {
  width: 43.7rem;
  height: 24.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-108-4sh {
  width: 99.4rem;
  height: 37.4rem;
  position: absolute;
  left: 0;
  top: 31.5rem;
  display: flex;
  align-items: center;
}

.frame-64-PQB {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-XmH {
  /* margin-bottom: 7.9rem; */
  width: 100%;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-CG7.png');
}

.auto-group-xsjm-UgX {
  width: 43.7rem;
  height: 24.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-65-P2o {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-j6f {
  /* margin-bottom: 7.9rem; */
  width: 100%;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-mYs.png');
}

.auto-group-1wbd-5gK {
  width: 43.7rem;
  height: 24.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-109-zHV {
  width: 99.4rem;
  height: 37.4rem;
  position: absolute;
  left: 0;
  top: 63rem;
  display: flex;
  align-items: center;
}

.frame-64-vwq {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-gRD {
  /* margin-bottom: 7.9rem; */
  width: 100%;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-Am5.png');
}

.auto-group-qjc7-qJ7 {
  width: 43.7rem;
  height: 24.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-65-wrw {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-VdZ {
  /* margin-bottom: 7.9rem; */
  width: 100%;
  height: 24.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-1if.png');
}

.auto-group-e7e7-eFZ {
  width: 43.7rem;
  height: 24.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-107-MQs {
  width: 99.4rem;
  height: 37.4rem;
  position: absolute;
  left: 0;
  top: 96.2rem;
  display: flex;
  align-items: center;
}

.frame-66-tvb {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-FFM {
  /* margin-bottom: 5.3rem; */
  width: 100%;
  height: 27.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-CKy.png');
}

.auto-group-mpv9-ba7 {
  width: 43.7rem;
  height: 27.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-67-v6b {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 48.5rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-4yV {
  /* margin-bottom: 5.3rem; */
  width: 100%;
  height: 27.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/png/rectangle-100-nzT.png');
}

.auto-group-gpfv-E7H {
  width: 43.7rem;
  height: 27.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-112-YNs {
  width: 99.4rem;
  height: 47rem;
  position: absolute;
  left: 0;
  top: 128.6rem;
  display: flex;
  align-items: center;
}

.frame-64-sg3 {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-2oq {
  width: 43.7rem;
  height: 32.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-65-Z35 {
  box-sizing: border-box;
  padding: 2.4rem;
  /* height: 100%; */
  border: solid 0.1rem #212121;
  border-radius: 2rem;
  flex-shrink: 0;
}

.mask-group-Wj1 {
  width: 43.7rem;
  height: 32.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.frame-55-RLB {
  width: 48rem;
  height: 16.8rem;
  position: absolute;
  left: 9.6rem;
  top: 180.6rem;
}

.pandiraja-thennavan-9my {
  margin-bottom: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}

.frame-60-sxs {
  margin-bottom: 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.frame-59-EYX {
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.feel-free-to-contact--n4F {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-61-hh1 {
  margin-right: 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.mail-fill-4Gf {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.pandiraj2711gmailcom-bGb {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--KTV {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-62-TJo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.smartphone-line-RFd {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.item-91-979-096-3560-xFZ {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.12rem;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-54-FVZ {
  display: flex;
  column-gap: 1.8rem;
  align-items: center;
  flex-shrink: 0;
}

.linkedin-fill-CQo {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.whatsapp-fill-8ZM {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.instagram-fill-fpB {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.frame-57-CJK {
  margin-right: 29.5667rem;
  box-sizing: border-box;
  padding-right: 1.6rem;
  width: calc(100% - 29.5667rem);
  display: flex;
  align-items: flex-end;
}

.designed-by-me-with-figma-8Ss {
  margin-right: 0.6rem;
  max-width: 15.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}

.designed-by-me-with-figma-8Ss-sub-0 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
}

.designed-by-me-with-figma-8Ss-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #777777;
  font-family: Roboto, 'Source Sans Pro';
}

.frame-58-Pn7 {
  margin-bottom: 0.6rem;
  width: 0.7333rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}



/*  */

.popup {
  display: none;
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid #ccc;
  background-color: #fff;
  z-index: 9999;
  overflow: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Optional styling for the popup window */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1px solid #ccc;
  z-index: 9;
  padding: 15px;
  background-color: white;
}

/* Optional styling for the form container */
.form-container {
  max-width: 600px;
  width: 100%;
}

/* Optional styling for the iframe */
iframe {
  width: 100%;
  height: 100%;
  /* Adjust height as needed */
  border: none;
}


.container {
  position: relative;

}

.title_img {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  height: 100%;
  height: 53.2rem;
  border-radius: 20px;
  /* margin-top: 4px; */
  font-size: 25px;
  /* padding: 15px 15px 15px 15px; */
  text-align: start;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  opacity: 0;
  transition: 0.6s;
  margin-bottom: 3.3rem;
  height: 53.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.container:hover .title_img {
  opacity: 1;
}

.align_cntr {
  position: absolute;
  inset: calc(50% - 25px);
}


/*  */



.body_slider {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ccc; */
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  /* height: 500px; */
  border-radius: 10px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-mannual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.mannual-btn {
  /* border: 2px solid #ccc; */
  /* padding: 5px; */
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.mannual-btn:not(:last-child) {
  margin-right: 40px;
}

.mannual-btn:hover {
  background-color: #ccc;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

/* Automatic Navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #333;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn-1 {
  background: #ccc;
}

#radio2:checked~.navigation-auto .auto-btn-2 {
  background: #ccc;
}


#radio3:checked~.navigation-auto .auto-btn-3 {
  background: #ccc;
}

#radio4:checked~.navigation-auto .auto-btn-4 {
  background: #ccc;
}